@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*====== Global Styles ========*/
.loans {
    position: absolute;
    width: 756px;
    height: 982px;
    left: 0px;
    top: 0px;
}


.borrows {
    /*FIXME: gather the components from the borrows frame in Figma*/
}

.scanner {
    /*FIXME: gather the components inside the scanner class in Figma*/
}